/* stylesheet for Welcome Site */

:root {
  --black: #222;
  --white: #fff;
}

html,body {
  height: 100%;
}

img {
  max-width: 100%;
}

/* cover */

#cover {
  background: #222 url('../img/stars.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
}

.form-group {
  margin-right: 1.5rem;
}

/* carousel */

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: 100%;
    margin: auto;
}

.section-content {
  padding: 5rem 0;
}

/* About */

#about {
  background: url('../img/girlincar.jpg') center center no-repeat;
  background-size: cover;
}

.about-text {
  background-color: rgb(0,0,0,0.8);
  color: var(--white);
  padding: 1.875rem;
}


/* Footer */

#footer-main {
  background: var(--black);
  color: var(--white);
  font-size: 0.8rem;
  padding: 2.5rem 0;
}

#footer-main li a, #developer{
  color: var(--white);
}

#footer-main li a, #developer {
  text-decoration: none;
}

#footer-main li a:hover, #developer:hover {
  color: #428bca; /* Bootstrap primary hex-color */
  transition-duration: 0.2s;
}
