/* stylesheet for Welcome Site */

:root {
  --black: #222;
  --white: #fff;
}

html,body {
  height: 100%;
}

img {
  max-width: 100%;
}

/* cover */

#cover {
  background: #222 url('../img/stars.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
}

/* carousel */

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: 100%;
    margin: auto;
}

.section-content {
  padding: 5rem 0;
}

/* About */

#about {
  background: url('../img/girlincar.jpg') center center no-repeat;
  background-size: cover;
}

.about-text {
  background-color: rgb(0,0,0,0.8);
  color: var(--white);
  padding: 1.875rem;
}
