/* stylesheet for Welcome Site */

:root {
  --black: #222;
  --white: #fff;
}

html,body {
  height: 100%;
}

img {
  max-width: 100%;
}

/* cover */

#cover {
  background: #222 url('../img/stars.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
}

/* carousel */

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: 100%;
    margin: auto;
}
